<div class="container mt-2">
  <ng-container *ngIf="customers | async as listCustomers; else failureOrLoading">
  </ng-container>

  <div class="card" *ngIf="customers">
    <div class="card-header">Customers</div>
    <div class="card-body">

      <div *ngIf="searchFormGroup">
        <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchCustomers()">
          <div class="input-group">
            <label class="input-group-text">Keyword :</label>
            <input type="text" formControlName="keyword" class="form-control">
            <button class="btn btn-info">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>
      </div>

      <table class="table table-bordered table-striped mt-3">
        <thead class="thead-dark text-center">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of customers | async ">
          <td class="text-center">{{ c.id }}</td>
          <td class="text-center">{{ c.name }}</td>
          <td class="text-center">{{ c.email }}</td>
          <td>
            <div class="d-flex justify-content-center">
              <button (click)="handleDeleteCustomer(c)" class="btn btn-danger">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </td>
          <td>
            <div class="d-flex justify-content-center">
              <button (click)="handleCustomerAccounts(c)" class="btn btn-danger custom-btn">
                Accounts
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #failureOrLoading>
    <ng-container *ngIf="errorMessage; else loading">
      <div class="text-danger">
        {{ errorMessage }}
      </div>
    </ng-container>
    <ng-template #loading>
      Loading...
    </ng-template>
  </ng-template>
</div>
